/*/node_modules/
/*/src/
/*/gulpfile.mjs
/*/jest.config.mjs
/*/tsconfig.json

/.git/
/.vscode/
/common/
/node_modules/
/.dockerignore
/.gitignore
/LICENSE
/docker-compose.yaml
/dockerfile
/gulpfile.mjs
/jest.config.mjs
/pnpm-lock.yaml
/pnpm-workspace.yaml
/tsconfig.common.json
